* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
body {
  background: #03071E;
}
#board {
  display: flex;
  justify-content: center;
}
#action-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
input {
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 17px;
  font-size: 15px;
  font-weight: bolder;
}
input:first-child {
  background: #D00000;
  border: 2px solid #9D0208;
}
input:last-child {
  background: #FFBA08;
  border: 2px solid #F48C06;
}
input:first-child:hover {
  background: #9D0208;
}
input:last-child:hover {
  background: #F48C06;
}
#sign-board {
  width: 150px;
  border: 3px solid #D00000;
  border-radius: 7px;
  margin: 15px;
  color: #FAA307;
  font-size: 46px;
  text-align: center;
  height: max-content;
}
.number {
  border-radius: 50%;
}
.number-select {
  background: #D00000;
  box-shadow: 0px 0px 0px 2px #FAA307
}
